body{
    background-color: rgb(233, 115, 72);
}

.border  {
    border: double;
    border-width: 2px;
    border-color: rgb(80, 2, 136);
    height: 50px;
    width: 700px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;

}
.koirat {

   max-width: 10%;
   max-height: 10%;
}


.para {
    border-radius: 22px;
    width: 250px;
    border-width: 1px;
    padding: 8px;
    background-color: rgb(219, 148, 148);

}
.img{
    max-width: 150px;
    max-height: 200px;
}

figure {
    border: thin #833131 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 150px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}