body {
    box-sizing: border-box;
    background-color: #D9A362;
}

.border  {
    text-align: center;
    border: double;
    border-width: 2px;
    color:#D9435F;
    height: fit-content;
    width: fit-content;
}


header  {
    background-color:#095573;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color:#f0173f;

}

nav {
        background-color: #440808;
        background: rgb(134, 63, 63);
        padding: 10px;

}

nav ul {
    list-style-type: none;
    height: 300px;
    padding: 0;
 background-color: #dfbcc22d;
}


ul {

    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    width: 100px;
    display: block;
    color: #000;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: rgb(247, 16, 16);
}

article {
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}
    section::after {
        content: "";
        display: table;
        clear: both;
    }
    
        footer {
            background-color: #777;
            padding: 10px;
            text-align: center;
            color: white;
        }
    

    div{
        background-color: lavender;
    }

    h2{
        margin: 0px;
    }