body {
    background-color: rgb(68, 204, 79);
}

.border  {
    border: double;
    border-width: 2px;
    color: rgb(80, 2, 136);
    height: 50px;
    width: 250px;
}


.sohva-koira{
    width: 400px;
}